@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
  }
  
  body {
    background: url(./images/secbg.jpg) no-repeat center center fixed;
    /* background-color: #e0e0e0; */
    background-size: cover;
  }
  
  #vanta {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  video {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  main {
    position: relative;
  }
  
  main.animated {
    opacity: 0;
    filter: blur(10px);
    transition: opacity 2s ease-in-out, filter 2s ease-in-out;
  }
  
  header {
    margin-top: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header > a > img {
    width: 8em;
    height: 8em;
    border-radius: 100%;
    border: 1px solid #fff;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
  }

  header > a > img:hover {
    transform: scale(1.1);
    transition: 1s;
    transform-style: flat;
  }
  
  header > a > h1 {
    display: inline-block;
    font-size: 0.9em;
    font-weight: 550;
    border-radius: 1em;
    background-color: #000a;
    color: #fff;
    padding: 0.3em 0.6em;
    border: 1px solid #fffa;
    backdrop-filter: blur(0px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(0px) saturate(160%) contrast(180%);
    margin: 10px;
  }

  header > a > h1:hover {
    transform: scale(1.1);
    transition: 1s;
    transform-style: flat;
  }
  
  ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 1em;
    max-width: 320px;
  }
  
  ul > li {
    background-color: #FFFFFF;
    backdrop-filter: blur(0px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(0px) saturate(160%) contrast(180%);
    border-radius: 20px;
    padding: 1em;
    margin: 1.4em 0;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
    cursor: pointer;
  }

  ul > li:hover {
    background-color: #00FFC9;
    backdrop-filter: blur(0px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(0px) saturate(160%) contrast(180%);
    border-radius: 10em;
    padding: 1em;
    margin: 1.4em 0;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
    transition: 0.8s;
    transform: scale(1.1);
  }
  
  ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  
  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    
  }

  /* ========== Custom Scroll bar ========== */
  ::-webkit-scrollbar {
    width: 0;
  }

  #scrollpath {
    position:fixed;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
  }

  #progressbar {
    position:fixed;
    top: 0;
    right: 0;
    width: 8px;
    border-radius: 5px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
  }

  @keyframes animate {
    0%, 100% {
      filter: hue-rotate(0deg);
    } 50% {
      filter: hue-rotate(360deg);
    }
  }

  #progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
  }

  #progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
  }

  /* ========== Footer section ========== */
  .footer {
    padding: 20px 0;
    margin-bottom: 10px;
  }

  .footer-text {
    text-align: center;
    color: #FFFFFF;
  }

  .footer-text a {
    text-align: center;
    color: #FFFFFF;
    /* color: var(--color-primary); */
  }